
:root{
    --body-color: #e4ebf7;
    --sidebar-color: #fffaff;
    --primary-color: #000000;
    --primary-color-light: #f5f8ff;
    --toggle-color: #DDD;
    --text-color: #666797;
    --widget-text: #1b2f88;
    --widget-color: #f5f7ffa8;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}