
:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #000000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --widget-text: #2e2e2e;
    --widget-color: #F6F5FFa8;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}