
:root{
    --body-color: #f7e4e4;
    --sidebar-color: #fffaff;
    --primary-color: #000000;
    --primary-color-light: #fff5fb;
    --toggle-color: #DDD;
    --text-color: #976693;
    --widget-text: #881b82;
    --widget-color: #fff5fea8;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}