@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1;  
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 15px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 15px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li .hover{
    background-color: var(--primary-color);
}
.sidebar li .hover .icon,
.sidebar li .hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
.widget{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.widget1 {
    margin-left: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 400px;
    border-radius: 25px;
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
}

 .widget1 h2 {
    padding: 25px;
    color: white;
    font-size: 23px;
    
 }

 .widget1 h5 {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    font-size: 23px;
    color: white;
 }
 
 .widget1 icon {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 10px;
    font-size: 23px;
    color: white;
 }
 .widget1 .text5 {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    font-size: 23px;
    color: var(--widget-text);
    font-weight: 700;
 }
 .widget1 h8 {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 10px;
    color: white;
    font-size: 23px;
    font-weight: 600;
 }

 .widget1 user {
    padding-top: 15px;
    color: white;
    font-size: 23px;
    font-weight: 600;
 }

 .widget1 h8 grade{
    color: #e63939;
 }

 .widget1 h3 {
    padding-left: 25px;
    color: var(--widget-text);
    font-size: 15px;
    font-weight: 400;
 }

 .back {
    background-size: cover;
 }

 .datetime .timetext {
    display: flex;
    padding-top: 25px;
    padding-left: 25px;
    color: var(--widget-text);
    font-size: 30px;
    font-weight: 700;
 }
 .datetime i {
    padding-top: 7px;
 }

 .datetime .time {
    margin-left: 10px;
 }

 .datetime .datetext {
    padding-left: 25px;
    padding-top: 25px;
    color: var(--widget-text);
    font-size: 23px;
 }

 .widget2 h2 {
    padding: 20px;
    color: var(--widget-text);
    font-size: 23px;
    
 }

 .widget2 h3 {
    padding-left: 25px;
    color: var(--widget-text);
    font-size: 15px;
    font-weight: 400;
    
 }

 .widget2 {
    margin-left: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 450px;
    border-radius: 25px;
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
}

.widgetvideo {
    margin-left: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 350px;
    border-radius: 25px;
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
}

video {
    height: 200px;
    width: 350px;
    border-radius: 25px;
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
}
.activite .activity a{
    margin-left: 25px;
    display: flex;
    align-items: center;
}
.activite .activity .appname{
    margin-left: 25px;
    font-size: 20px;
    font-weight: 500;
    color: var(--widget-text);

}
.activite .activity i{
    margin-left: 25px;
    font-size: 30px;
    font-weight: 500;
    color: var(--widget-text);

}
.activite .activity .imgcont {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stats {
    margin-left: 25px;
    margin-top: 5px;
    font-size: 20px;
    color: var(--widget-text);

}
.username {
    margin-top: 30px;
    display: flex;
}

.footer {
    margin-left: 30px;
}

.footer .footer-text {
    color: var(--text-color);
    padding-bottom: 20px;
}

.widgetbot {
    border: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.part {
    margin-left: 60px;
    color: var(--widget-text);
}


.intro {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #121111;
    transition: 1s;
    background-image:url("../img/loading.GIF") ;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100%;
    background-size: 50%;
}

.logo-header {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: 300;
}
.logo-ok {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: 200;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    color:white ;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
.intro p {
    margin-top: 50%;
    color: white;
}
.intro img {
    width: 100px;
    height: 100px;
    margin-top: 70px;
    margin-left: calc(50% - 50px);
}
