
:root{
    --body-color: #181a18;
    --sidebar-color: #2a2a2a;
    --primary-color: #a973c2;
    --primary-color-light: #242424;
    --toggle-color: #fff;
    --text-color: #a973c2;
    --widget-text: #cda6db;
    --widget-color: #171717a8;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}